#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
input {
  padding: 10px;
  min-width: 240px;
  font-size: 18px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
form button {
  width: 262 px;
}
